<% provide(:title, 'Eventos') %>
<h1>All users</h1>
<table class=" table table-striped sortable">
  <thead>
  <tr>
    <th>Name</th>
    <th>Lugar</th>
    <th>Acciones</th>
  </tr>
  </thead>
  <tbody>
  <% @events.each do |event| %>
    <tr>
      <td> <%= link_to event.name %></td>
      <td><%= event.place %></td>
      <td> <%= link_to "Eliminar", event, method: :delete, data: { confirm: "You sure?" } %>
        <%= link_to "Editar",edit_event_path(event)%></td>    </tr>
  <% end %>
  </tbody>
</table>